.header{
    background-color: #3d5490;
}
.login-wrap{
    background: rgba(56, 157, 170, 0.82);;
}
.plugins-tips{
    background: #f2f2f2;
}
.plugins-tips a{
    color: #00d1b2;
}
.el-upload--text em {
    color: #00d1b2;
}
.pure-button{
    background: #00d1b2;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #00d1b2 !important;
    border-color: #00d1b2 !important;
}
.tags-li.active {
    border: 1px solid #3d5490;
    background-color: #3d5490;
}
.collapse-btn:hover{
    background: #3d5490;
}
.content-box{
  background: #c0c0c0;
}
.content {
  border-top:2px solid #c0c0c0;
  background: #fff;
}
.sidebar{
  border: 1px solid #506aa9;
}
.el-submenu .el-menu-item{
  border-bottom:1px solid #3d5490;
}
  /*tags*/
.tags-li{
  border: 1px solid #e9eaec;
  color: #666;
}
.tags-li:not(.active):hover {
  background: #f8f8f8;
}
.tags-li.active {
  color: #fff;
}
.tags-li-title{
  color: #666;
}
.tags-li.active .tags-li-title {
  color: #fff;
}
.footer_content{
  color:#fff;
}
.el-dialog__footer{
  border-top:1px solid #506aa9;
}
